body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
}

.header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.textInput {
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
}

.image {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border-radius: 5px;
}
